.whatsap{
    font-size: 50px;
    margin-left: 115px;
    color: #bcbcbc;
}
.whatsap:hover{
    color: rgb(5, 184, 5);
    font-size: 50px;
    place-items: center;
}
.insta{
    font-size: 49px;
    color: #bcbcbc;
}
.insta:hover{
    color: rgb(231, 45, 129);
}
.linkedin{
    font-size: 49px;
    color: #bcbcbc;
}
.linkedin:hover{
    color: rgb(0, 76, 255);
}