.whatsap{
    font-size: 50px;
    margin-left: 160px;
    color: #bcbcbc;
}
.whatsap:hover{
    color: rgb(5, 184, 5);
    font-size: 50px;
}
@media screen and (max-width:790px){
    .whatsap{
        margin-left: 50px;
    }
}
@media screen and (max-width:400px){
    .whatsap{
        margin-left: 150px;
    }
}
